@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: var(--font-family);
    background-color: var(--color-main);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 15px;
}