:root {
	--color-1: #fe922e;
	--color-2: #4d3e2d;
	--color-3: #d2b887;
	--color-main: #f6ebda;
	--color-card: #fff6e9;

    --font-family: "Open Sans", sans-serif;
    --second-family: "Caveat", sans-serif;
}